{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="card border-primary mt-5">
      <div class="card-body">
        <h1 class="text-center text-primary font-weight-bold display-4">Edit profile...</h1>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}  
          {{ profile_form|crispy }}                  
          <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}