{% extends 'groups/group_base.html' %}
{% block pregroup %}
<div class="col-12 mt-4">
  <h1>{{group.name}}</h1>
  <h5>Members: {{group.members.count}}</h5>
  
  <div class="content">
    {% if user in group.members.all %}
      <a href="{% url 'groups:leave' slug=group.slug %}" class = "btn btn-outline-danger btn-sm">
        <span class="bi bi-dash-circle"></span> Leave</a>
      <a href="{%url 'posts:create' group.slug%}" class="btn btn-primary btn-sm"><i class="bi bi-plus-square"></i> New post</a>
    {% else %}
    <a href="{% url 'groups:join' slug=group.slug %}" class = "btn btn-lg btn-fill btn-success btn-sm">
      <span class="bi bi-plus-circle"></span> Join</a>
    {% endif %}
  </div>
</div>

{% endblock pregroup %}

{% block group_content %}
  <div class="col-md-8 mt-4">
    {% if group.posts.count == 0 %}
      <h2>No posts in this group yet!</h2>
    {% else %}
      {% for post in group.posts.all %} 
        {% include "posts/_post.html" %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock group_content %}